body{
    padding:0;
    margin:0;
    background-color: #5800FF;
}

form{
    box-sizing: border-box;
    width:40%;
    height:60vh;
    margin-left: 30%;
    margin-top:10%;
    background-color: #FCF8E8;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

input[type=email]{
    box-sizing: border-box;
    border-radius: 4px;
    border:1px solid black;
    width:80%;
    height:50px;
    padding:5px 5px;
    margin: 5px;
    font-size: 20px;

}

input[type=password]{
    box-sizing: border-box;
    border-radius: 4px;
    border:1px solid black;
    width: 80%;
    height:50px;
    padding:5px 5px;
    margin: 5px;
    font-size:20px;
}

input[type=submit]{
    box-sizing: border-box;
    background-color: #5800FF;
    color:white;
    text-decoration: none;
    border-radius: 4px;
    border:none;
    width:80%;
    height:50px;
    padding:5px 5px;
    margin: 4px 2px;
    font-size:20px;
}

input[type=submit]:hover{
    background-color:  #6d29ed;
}

p{
    text-align: center;
}

.center{
    margin:auto;
    padding-left:30px;
}